In [48]:
import pandas as pd

In [49]:
df=pd.read_csv('EPL_Set.csv')
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
0,E0,14/08/93,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,1993-94
1,E0,14/08/93,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,1993-94
2,E0,14/08/93,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,1993-94
3,E0,14/08/93,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,1993-94
4,E0,14/08/93,Man City,Leeds,1,1,D,NaN,NaN,NaN,1993-94

In [50]:
df.describe()

              FTHG         FTAG         HTHG         HTAG
count  9664.000000  9664.000000  8740.000000  8740.000000
mean      1.523903     1.121482     0.685469     0.488444
std       1.301671     1.121667     0.833581     0.710524
min       0.000000     0.000000     0.000000     0.000000
25%       1.000000     0.000000     0.000000     0.000000
50%       1.000000     1.000000     0.000000     0.000000
75%       2.000000     2.000000     1.000000     1.000000
max       9.000000     8.000000     5.000000     5.000000

In [88]:
df = df.dropna()

In [108]:
#to predict FTR using HTR HTAG HTHG FTHG HTAG
y=df.FTR
df_features = ['FTHG','FTAG','HTAG','HTHG']
X=df[df_features]
X.head()

     FTHG  FTAG  HTAG  HTHG
924     3     1   0.0   3.0
925     1     0   0.0   1.0
926     0     0   0.0   0.0
927     1     0   0.0   0.0
928     1     1   1.0   0.0

In [109]:
X.dropna()

      FTHG  FTAG  HTAG  HTHG
924      3     1   0.0   3.0
925      1     0   0.0   1.0
926      0     0   0.0   0.0
927      1     0   0.0   0.0
928      1     1   1.0   0.0
929      3     0   0.0   1.0
930      3     4   3.0   1.0
931      1     2   0.0   1.0
932      3     2   2.0   2.0
933      1     1   1.0   1.0
934      1     0   0.0   0.0
935      1     3   1.0   0.0
936      2     1   0.0   1.0
937      0     2   0.0   0.0
938      2     1   0.0   0.0
939      0     0   0.0   0.0
940      0     3   1.0   0.0
941      2     1   0.0   1.0
942      0     1   0.0   0.0
943      2     1   0.0   1.0
944      0     0   0.0   0.0
945      2     0   0.0   2.0
946      2     0   0.0   1.0
947      3     1   0.0   1.0
948      2     0   0.0   1.0
949      1     1   1.0   1.0
950      1     0   0.0   1.0
951      1     3   2.0   0.0
952      0     2   0.0   0.0
953      1     2   0.0   0.0
...    ...   ...   ...   ...
9634     0     1   1.0   0.0
9635     2     1   0.0   1.0
9636     1     4   2.0   1.0
9637     2     0   0.0   1.0
9638     1     0   0.0   0.0
9639     1     0   0.0   1.0
9640     1     1   0.0   0.0
9641     0     2   1.0   0.0
9642     1     2   0.0   1.0
9643     2     1   0.0   2.0
9644     1     0   0.0   0.0
9645     5     0   0.0   2.0
9646     1     0   0.0   1.0
9647     0     0   0.0   0.0
9648     0     1   0.0   0.0
9649     1     1   0.0   0.0
9650     3     1   0.0   1.0
9651     3     1   1.0   2.0
9652     1     0   0.0   0.0
9653     0     0   0.0   0.0
9654     1     2   0.0   1.0
9655     2     0   0.0   0.0
9656     0     1   1.0   0.0
9657     4     0   0.0   2.0
9658     1     0   0.0   1.0
9659     3     0   0.0   1.0
9660     0     1   0.0   0.0
9661     1     2   2.0   1.0
9662     5     4   2.0   1.0
9663     3     1   0.0   1.0

[8740 rows x 4 columns]

In [110]:
from sklearn.tree import DecisionTreeRegressor
df_model=DecisionTreeRegressor(random_state=1)

In [111]:
df['FTR']=df['FTR'].replace(to_replace = 'H',value = 1.0)
df['FTR']=df['FTR'].replace(to_replace = 'D',value = 0.0)
df['FTR']=df['FTR'].replace('A',2.0)
df['HTR']=df['HTR'].replace(to_replace = 'H',value = 1.0)
df['HTR']=df['HTR'].replace(to_replace = 'D',value = 0.0)
df['HTR']=df['HTR'].replace('A',2.0)
df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Season
924,E0,19/08/95,Aston Villa,Man United,3,1,1,3.0,0.0,1.0,1995-96
925,E0,19/08/95,Blackburn,QPR,1,0,1,1.0,0.0,1.0,1995-96
926,E0,19/08/95,Chelsea,Everton,0,0,0,0.0,0.0,0.0,1995-96
927,E0,19/08/95,Liverpool,Sheffield Weds,1,0,1,0.0,0.0,0.0,1995-96
928,E0,19/08/95,Man City,Tottenham,1,1,0,0.0,1.0,2.0,1995-96
929,E0,19/08/95,Newcastle,Coventry,3,0,1,1.0,0.0,1.0,1995-96
930,E0,19/08/95,Southampton,Nott'm Forest,3,4,2,1.0,3.0,2.0,1995-96
931,E0,19/08/95,West Ham,Leeds,1,2,2,1.0,0.0,1.0,1995-96
932,E0,19/08/95,Wimbledon,Bolton,3,2,1,2.0,2.0,0.0,1995-96
933,E0,20/08/95,Arsenal,Middlesbrough,1,1,0,1.0,1.0,0.0,1995-96
934,E0,21/08/95,Leeds,Liverpool,1,0,1,0.0,0.0,0.0,1995-96
935,E0,22/08/95,Bolton,Newcastle,1,3,2,0.0,1.0,2.0,1995-96
936,E0,23/08/95,Coventry,Man City,2,1,1,1.0,0.0,1.0,1995-96
937,E0,23/08/95,Everton,Arsenal,0,2,2,0.0,0.0,0.0,1995-96
938,E0,23/08/95,Man United,West Ham,2,1,1,0.0,0.0,0.0,1995-96
939,E0,23/08/95,Nott'm Forest,Chelsea,0,0,0,0.0,0.0,0.0,1995-96
940,E0,23/08/95,QPR,Wimbledon,0,3,2,0.0,1.0,2.0,1995-96
941,E0,23/08/95,Sheffield Weds,Blackburn,2,1,1,1.0,0.0,1.0,1995-96
942,E0,23/08/95,Tottenham,Aston Villa,0,1,2,0.0,0.0,0.0,1995-96
943,E0,26/08/95,Bolton,Blackburn,2,1,1,1.0,0.0,1.0,1995-96
944,E0,26/08/95,Coventry,Arsenal,0,0,0,0.0,0.0,0.0,1995-96
945,E0,26/08/95,Everton,Southampton,2,0,1,2.0,0.0,1.0,1995-96
946,E0,26/08/95,Leeds,Aston Villa,2,0,1,1.0,0.0,1.0,1995-96
947,E0,26/08/95,Man United,Wimbledon,3,1,1,1.0,0.0,1.0,1995-96
948,E0,26/08/95,Middlesbrough,Chelsea,2,0,1,1.0,0.0,1.0,1995-96
949,E0,26/08/95,Nott'm Forest,West Ham,1,1,0,1.0,1.0,0.0,1995-96
950,E0,26/08/95,QPR,Man City,1,0,1,1.0,0.0,1.0,1995-96
951,E0,26/08/95,Tottenham,Liverpool,1,3,2,0.0,2.0,2.0,1995-96
952,E0,27/08/95,Sheffield Weds,Newcastle,0,2,2,0.0,0.0,0.0,1995-96
953,E0,28/08/95,Blackburn,Man United,1,2,2,0.0,0.0,0.0,1995-96
...,...,...,...,...,...,...,...,...,...,...,...
9634,E0,28/04/18,Swansea,Chelsea,0,1,2,0.0,1.0,2.0,2017-18
9635,E0,29/04/18,Man United,Arsenal,2,1,1,1.0,0.0,1.0,2017-18
9636,E0,29/04/18,West Ham,Man City,1,4,2,1.0,2.0,2.0,2017-18
9637,E0,30/04/18,Tottenham,Watford,2,0,1,1.0,0.0,1.0,2017-18
9638,E0,4/5/2018,Brighton,Man United,1,0,1,0.0,0.0,0.0,2017-18
9639,E0,5/5/2018,Bournemouth,Swansea,1,0,1,1.0,0.0,1.0,2017-18
9640,E0,5/5/2018,Everton,Southampton,1,1,0,0.0,0.0,0.0,2017-18
9641,E0,5/5/2018,Leicester,West Ham,0,2,2,0.0,1.0,2.0,2017-18
9642,E0,5/5/2018,Stoke,Crystal Palace,1,2,2,1.0,0.0,1.0,2017-18
9643,E0,5/5/2018,Watford,Newcastle,2,1,1,2.0,0.0,1.0,2017-18
9644,E0,5/5/2018,West Brom,Tottenham,1,0,1,0.0,0.0,0.0,2017-18
9645,E0,6/5/2018,Arsenal,Burnley,5,0,1,2.0,0.0,1.0,2017-18
9646,E0,6/5/2018,Chelsea,Liverpool,1,0,1,1.0,0.0,1.0,2017-18
9647,E0,6/5/2018,Man City,Huddersfield,0,0,0,0.0,0.0,0.0,2017-18
9648,E0,8/5/2018,Swansea,Southampton,0,1,2,0.0,0.0,0.0,2017-18
9649,E0,9/5/2018,Chelsea,Huddersfield,1,1,0,0.0,0.0,0.0,2017-18
9650,E0,9/5/2018,Leicester,Arsenal,3,1,1,1.0,0.0,1.0,2017-18
9651,E0,9/5/2018,Man City,Brighton,3,1,1,2.0,1.0,1.0,2017-18
9652,E0,9/5/2018,Tottenham,Newcastle,1,0,1,0.0,0.0,0.0,2017-18
9653,E0,10/5/2018,West Ham,Man United,0,0,0,0.0,0.0,0.0,2017-18
9654,E0,13/05/18,Burnley,Bournemouth,1,2,2,1.0,0.0,1.0,2017-18
9655,E0,13/05/18,Crystal Palace,West Brom,2,0,1,0.0,0.0,0.0,2017-18
9656,E0,13/05/18,Huddersfield,Arsenal,0,1,2,0.0,1.0,2.0,2017-18
9657,E0,13/05/18,Liverpool,Brighton,4,0,1,2.0,0.0,1.0,2017-18
9658,E0,13/05/18,Man United,Watford,1,0,1,1.0,0.0,1.0,2017-18
9659,E0,13/05/18,Newcastle,Chelsea,3,0,1,1.0,0.0,1.0,2017-18
9660,E0,13/05/18,Southampton,Man City,0,1,2,0.0,0.0,0.0,2017-18
9661,E0,13/05/18,Swansea,Stoke,1,2,2,1.0,2.0,2.0,2017-18
9662,E0,13/05/18,Tottenham,Leicester,5,4,1,1.0,2.0,2.0,2017-18
9663,E0,13/05/18,West Ham,Everton,3,1,1,1.0,0.0,1.0,2017-18

In [112]:
df_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [115]:
print("Making predictions for the following:")
print(X.head())
print("The predictions are")
print(df_model.predict(X.head()))

Making predictions for the following:
     FTHG  FTAG  HTAG  HTHG
924     3     1   0.0   3.0
925     1     0   0.0   1.0
926     0     0   0.0   0.0
927     1     0   0.0   0.0
928     1     1   1.0   0.0
The predictions are
[1. 1. 0. 1. 0.]